@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
ul {
    list-style-type: none;
}
body {
    color: hsl(225,20%,60%);
    font-family: "Manrope",sans-serif;
    text-align: center;
}
.btn {
    background-color: hsl(227,35%,25%);
    border: 2px solid hsl(227,35%,25%);
    border-radius: 30px;
    box-shadow: 0 5px 10px hsla(227,35%,25%,0.5);
    color: white;
    cursor: pointer;
    font-family: "Manrope",sans-serif;
    padding: 10px 20px;
    transition: all 0.4s;
}
.btn:hover {
    background-color: transparent;
    color: hsl(227,35%,25%);
}
.bg-pattern {
    position: absolute;
    z-index: -10;
}
.bg-pattern-img {
    height: 300px;
}
.header {
    padding: 100px 20px 50px;
    position: relative;
}
.header .header-circles {
    left: 50%;
    position: absolute;
    top: 60px;
    transform: translateX(-50%);
    z-index: -1;
}
.header h1 {
    color: hsl(227,35%,25%);
    font-size: 28px;
}
.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px hsla(0,0%,0%,0.2);
    margin: 0 30px 50px;
    padding: 30px 20px ;
}
.container .title h4 {
    font-size: 14px;
    text-transform: uppercase;
}
.container .title .price {
    display: none;
}
.container .price{
    align-items: center;
    color: hsl(227,35%,25%);
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.container .price span {
    color: hsl(225,20%,60%);
    font-size: 15px;
    margin-left: 10px;
}
.container ul {
    margin-bottom: 30px;
}
.container ul li {
    margin: 5px 0;
}

.toggle {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 30px 0 40px;
}
.checkbox {
    display:none;
}
.label {
    align-items: center;
    background-color: hsl(223,50%,87%);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 26px;
    justify-content: space-between;
    margin: 0 10px;
    padding: 5px;
    position: relative;
    width: 50px;
}
.label:active {
    background-color: hsl(174,86%,45%);
}
.name {
    color: hsl(234,14%,74%);
    font-size: 14px;
}
.name span {
    background-color: hsl(14,92%,95%);
    border-radius: 30px;
    color: hsl(15,100%,70%);
    font-size: 12px;
    padding: 2px 6px;
}
.ball {
    background: #fff;
    border-radius: 50%;
    height: 22px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: transform 0.15s linear;
    width: 22px;
    
}
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
input[type="range"] {
    margin: 18px 0;
    width: 100%;
    -webkit-appearance: none;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: hsl(174,86%,45%);
    border: 2px solid hsl(174,86%,45%);
    border-radius: 30px;
    cursor: pointer;
    height: 8.4px;
    width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
    background: hsl(174,86%,45%);
    border: 1px solid hsl(174,86%,45%);
    border-radius: 50%;
    box-shadow: 1px 1px 1px hsl(174,86%,45%),0px 0px 1px hsl(174,86%,45%);
    cursor: pointer;
    height: 30px;
    margin-top: -14px;
    -webkit-appearance: none;
    width: 30px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: hsl(174,86%,45%);
}
input[type="range"]::-moz-range-track {
    background: #3071a9;
    border: 0.2px solid hsl(174,86%,45%);
    border-radius: 1.3px;
    box-shadow: 1px 1px 1px hsl(174,86%,45%), 0px 0px 1px #0d0d0d;
    cursor: pointer;
    height: 8.4px;
    width: 100%;
}
input[type="range"]::-moz-range-thumb {
    background: #ffffff;
    border: 1px solid hsl(174,86%,45%);
    border-radius: 50%;
    box-shadow: 1px 1px 1px hsl(174,86%,45%),0px 0px 0px 1px #0d0d0d;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    cursor: pointer;
    height: 8.4px;
    width: 100%;
}
input[type="range"]::-ms-fill-lower {
    background: hsl(174,86%,45%);
    border: 0.2px solid hsl(174,86%,45%);
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px hsl(174,86%,45%), 0px 0px 1px hsl(174,86%,45%);
}
input[type="range"]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid hsl(174,86%,45%);
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px hsl(174,86%,45%), 0px 0px 1px #0d0d0d;
}
input[tyep="range"]::-ms-thumb {
    background: #ffffff;
    border: 1px solid hsl(174,86%,45%);
    border-radius: 3px;
    box-shadow: 1px 1px 1px hsl(174,86%,45%), 0px 0px 1px #0d0d0d;
    cursor: pointer;
    height: 36px;
    width: 16px;
}
input[type="range"]:focus::-ms-fill-lower {
    background: hsl(174,86%,45%);
}
input[type="range"]:focus::-ms-fill-upper {
    background: hsl(174,86%,45%);
}
@media (min-width: 768px) {
    .bg-pattern-img {
        height: auto;
    }

    .header h1 {
        font-size: 36px;
    }
    .container {
        margin: 30px auto 50px;
        max-width: 500px;
        padding: 50px;
    }
    .container .title {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .container .title .price {
        display: block;
    }
    .container .price {
        display: none;
    }
    .container .list {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .container ul {
        margin-bottom: 0;
        text-align: left;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 600px;
    }
}
@media (min-width: 1440px) {
    .bg-pattern-img {
        width: 1600px;
    }
}